div.user-search input[type="text"] {
  width: 100%;

  box-sizing: border-box;
  border-radius: 15px;
  font-size: 1em;

  padding: 10px 65px 10px 15px;

  background-image: url("../svg/SearchIcon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 98% 50%;
}

div.user-search input[type="text"]::placeholder {
  text-align: center;
}
