.banner {
  height: 500px;

  margin-top: -20px;

  background-image: url("../svg/Banner.svg");
  background-position: 50%;
  background-size: auto;

  display: flex;
  align-items: center;
}

.banner > .banner-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background-image: url("../svg/BannerDecoration.svg");
  background-position: 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

/* .banner > .banner-wrapper > .icon {
  font-size: 2em;
  color: #00d19c;
  padding-left: 6%;
  width: fit-content;
  width: 100px;
  height: 100px;

  background-image: url("../svg/UdvIcon.png");
  background-size: contain;
  background-position: 5% 50%;
  background-repeat: no-repeat;

  margin-bottom: 2%;
} */

@media screen and (min-width: 1440px) {
  .banner {
    position: relative;
    width: 100%;
  }
}
