div.login-wrapper > form {
  margin: auto;
  height: 100vh;

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.login-wrapper > form > .decoration {
  display: flex;

  /* margin-left: -45px; */
}

div.login-wrapper > form > .decoration > img {
  padding-right: 19px;
  border-right: 2px solid #767676;
  margin-right: 19px;
}

div.login-wrapper > form > .decoration > span {
  width: 200px;
}

div.login-wrapper > form > .form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 32px;
}

div.login-wrapper
  > form
  > .form-body
  > input:not([type="submit"], [type="checkbox"]) {
  color: white;
  background-color: black;

  width: 351px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 15px;

  font-size: 1em;
  padding: 15px;
}

div.login-wrapper > form > .form-body input[type="checkbox"] {
  aspect-ratio: 1 / 1;
  width: 19px;
}

div.login-wrapper > form > .form-body input + div {
  margin-top: 5px;
}

div.login-wrapper > form > .form-body > label {
  align-self: flex-start;

  margin-top: 27px;
  margin-bottom: 10px;
  color: #767676;
}

div.login-wrapper > form > .form-body > input[type="submit"] {
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 15px 45px;
  border: 2px solid white;
  border-radius: 15px;

  margin: 45px 0;
  transition-duration: 0.3s;
}

div.login-wrapper > form > .form-body > input[type="submit"]:hover {
  cursor: pointer;
  background-color: black;
  color: white;

  /* transition-duration: 0.5s; */
}

div.login-wrapper > form > .form-body > .self-reg-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #767676;
  text-decoration: underline;
}

div.login-wrapper > form > .form-body > .self-reg-btn:hover {
  color: #898989;
}
div.login-wrapper > form > .form-body > div.error {
  color: rgb(202, 64, 64);
  margin-top: 15px;

  font-size: 0.75em;
  max-width: 351px;
  text-align: center;
}

div.login-wrapper .self-register .body form {
  /* background-color: green; */
  width: 80%;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

div.login-wrapper .self-register .body form label {
  margin-bottom: 10px;
}

div.login-wrapper .self-register .body form label:not(:first-child) {
  margin-top: 27px;
}

div.login-wrapper .self-register .body form input[type="text"] {
  border-radius: 5px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  padding: 5px 10px;
}

div.login-wrapper .self-register .body form button {
  margin: 0 auto;
  margin-top: 20px;
  width: fit-content;

  border-radius: 5px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  padding: 7px 15px;
}

div.login-wrapper
  .self-register
  .body
  form
  button[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition-duration: 0.5s;
}

div.login-wrapper .self-register .body form div.error {
  margin: 10px 0;
  font-size: 0.75em;
  color: rgb(202, 64, 64);
}

div.login-wrapper .self-register .body form div.success-text {
  text-align: center;
  margin: 150px 0;
}
